body{
    background-color:rgb(23, 19, 241);
    font-family: 'Lucida Sans';
    font-size: small;
    color: #f30707;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    h3{
    font-family: 'Lucida Sans';
    font-size: small;
    color: #000000;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    .linha {
    font-family: 'Lucida Sans';
    font-size: small;
    font-size: 12px;
    background-color:rgb(245, 0, 143);
    }
    .lista {
    font-family: 'Lucida Sans';
    font-size: small;
    text-align: left;
    font-size: 12px;
    color:rgb(238, 151, 223);
    }
    .itens {
    background-color: rgb(0, 255, 0);
    }