body{
    background-color:rgb(6, 238, 255);
    font-family: 'Lucida Sans';
    font-size: small;
    color: #000000;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    h3{
    font-family: 'Lucida Sans';
    font-size: small;
    color: #000000;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    .linha {
    font-family: 'Lucida Sans';
    font-size: small;
    font-size: 12px;
    background-color:rgb(245, 0, 143);
    }
    .lista {
    font-family: 'Lucida Sans';
    font-size: small;
    text-align: left;
    font-size: 12px;
    color:rgb(0, 0, 0);
    }
    .itens {
    background-color: rgb(0, 255, 0);
    }